{% extends 'base.html' %}

{% block content %}

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>

      <!--<div class="btn-toolbar mb-2 mb-md-0">
         Tutaj można dawać przyciski
      </div>-->
    </div>

    <div class="row">
    {% for serv in servers %}
        <div class="col-lg-3">
          <div class="card">

            <div class="card-body">
              Testowe okno
            </div>

            <div class="card-footer text-muted">
                {{ serv.name }} ({{ serv.ip }})
            </div>
          </div>
        </div>
    {% endfor %}
    </div>

  </main>

{% endblock %}

